*~
_*
*.o
*.d
*.sym
*.img
*.elf
*.bin
.*
*.a
*.lds
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
target
.vscode
.DS_Store
*.img
actual.out
qemu.log
rusty-tags.v
*.json
*-cross
*.tgz
*.tar*
/riscv64-linux
!*.asm
!.cargo
/rustsbi-qemu*
link_app.S
/2024s-*
/log.txt
/loopback
*.lock
